<mat-toolbar class="nav-bar"  >
  <mat-toolbar-row>
    <div class="nav-logo">
      <img class="securify" src="/assets/securify.jpg" alt="securify">
    </div>

    <span class="brand-title"> Securify </span>
    @if (esUsuario() || esAdministrador()|| esVendedor()){

      <span class="spacer"></span>

      <div class="search-box">
        <mat-form-field class="buscador" appearance="fill">
          <input matInput placeholder="Buscar productos..." />
          <button mat-icon-button matSuffix color="accent">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <a class="nav-link" [routerLink]="'/home'">Home</a>
    }

    <!-- Enlaces -->

    @if (esAdministrador()) {
      <a class="nav-link" [routerLink]="'/tienda/listar'">Proveedores</a>
    }

    @if (esUsuario()) {
      <a class="nav-link" [routerLink]="'/producto'">Productos</a>
      <a class="nav-link" [routerLink]="'/detalleorden'">Orden</a>
      <a class="nav-link" [routerLink]="'/categoria'">Categoría</a>
    }

    @if (esVendedor()) {
      <a class="nav-link" [routerLink]="'/producto/insertar'">Agregar Producto</a>
      <a class="nav-link" [routerLink]="'/detalleorden'">Orden</a>
      <a class="nav-link" [routerLink]="'/categoria'">Categoría</a>
    }

    @if (esUsuario() || esAdministrador() || esVendedor()) {
      <a class="nav-link logout-link" [routerLink]="'/login'">Logout</a>
    }
  </mat-toolbar-row>
</mat-toolbar>
