span {
  margin: auto;
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  margin: 0px 2px;
}

.buscador {
  background-color: white;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 4px;
  min-width: 250px;
  max-width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
}

.buscador .mat-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}

