<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Crear Cuenta</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registroForm" class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nombre completo</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="correo" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="password" formControlName="confirmar" />
        </mat-form-field>

        <button mat-flat-button color="primary" class="login-button">
          Crear Cuenta
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
