<mat-card class="example-card">
  <mat-card-title>Formulario de Detalles</mat-card-title>
  <mat-card-content>
    <form [formGroup]="detalleordenForm" class="form-container"  (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="cantidad" placeholder="Ingrese cantidad (max. 99 unidades)" />
      </mat-form-field>



      <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="producto_id" required>
          @for (c of listaProductos; track c.producto_id) {
            <mat-option [value]="c.producto_id">
              {{ c.nombre }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label># Orden</mat-label>
        <mat-select formControlName="orden_id" required>
          @for (c of listaOrdenes; track c.orden_id) {
            <mat-option [value]="c.orden_id">
              {{ c.orden_id }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Registrar</button>
    </form>
  </mat-card-content>
</mat-card>

