.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece ligeramente para que el texto resalte */
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
}

.overlay h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.overlay p {
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
